{% extends "base.html" %}
{% load facebook_connect %}


{% block scripts %}
  {% facebook_script %}
{% endblock scripts %}


{% block content %}
<h1>Bem vindo, <span id="username">{{ user }}!</span></h1>
<div>
  <form>
    <fieldset>
      <legend>Login</legend>
      <label>Label name</label>
      <input type="text" placeholder="Type something…">
      <span class="help-block">Example block-level help text here.</span>
      <label class="checkbox">
        <input type="checkbox"> Check me out
      </label>
      <button type="submit" class="btn">Submit</button>
    </fieldset>
  </form>
</div>

<div class="span5">
  {% facebook_button %}     <br />
  <a class="btn btn-primary" href="/twitter/login/">Login no Twitter</a> 
  <button class="btn btn-primary" >Login no GitHub</button>
</div>
{% endblock %}
